/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}

h1 , h2{
	text-align:center;
}

div + div{
	background-color:white;
}

.songs{
	display:flex;
	flex-direction:column;
}

.mp3_songs{
	margin:0px;
	border:none;
}

.player_two{
	margin-bottom:0px;
	border:none;
}
